<%= _.template(require('./../includes/header.html').default)() %>

<div class="Container">
	<div class="SubHeader">
		<span class="SuHeader-Item">arcadia</span>
	</div>
	<div class="Title">
		<div class="Title-Main Text_h1">
			arcania
			<div class="Dropdown">
				<div
					class="Dropdown-Header Dropdown-Header_color_mute Text Text_h4 Text_color_mute"
				>
					<span>trunk</span>
				</div>
			</div>
		</div>
		<div class="Title-Sub Text_p">
			Last commit <span class="Text Text-Link">c4d248</span> on
			<span class="Text Text-Link">20 Oct 2017, 12:24</span> by
			<span class="Text Text_color_accent">r</span>obot-srch-releaser
		</div>
	</div>
	<div class="Tabs">
		<div class="Tabs-Menu">
			<div class="Tabs-Menu-Item">Files</div>
			<div class="Tabs-Menu-Item Tabs-Menu-Item_active">branches</div>
		</div>
		<div class="Tabs-Content">
			<div class="ReposTable">
				<div class="ReposTable-Header">
					<div class="ReposTable-Row">
						<div class="ReposTable-Col">Name</div>
						<div class="ReposTable-Col">Commit hash</div>
					</div>
				</div>
				<div class="ReposTable-Body">
					<div class="ReposTable-Row">
						<div class="ReposTable-Col ReposTable-Col_branch Text Text_h3">
							trunk
						</div>
						<div class="ReposTable-Col ReposTable-Col_align_right">
							<span class="Text Text-Link"
								>6748ds893432438dsd823329d923482d</span
							>
						</div>
					</div>
					<div class="ReposTable-Row">
						<div class="ReposTable-Col ReposTable-Col_branch Text Text_h3">
							users/a-aidyn00/my-feature-2
						</div>
						<div class="ReposTable-Col ReposTable-Col_align_right">
							<span class="Text Text-Link"
								>6748ds893432438dsd823329d923482d</span
							>
						</div>
					</div>
					<div class="ReposTable-Row">
						<div class="ReposTable-Col ReposTable-Col_branch Text Text_h3">
							users/a-aidyn00/my-feature-2
						</div>
						<div class="ReposTable-Col ReposTable-Col_align_right">
							<span class="Text Text-Link"
								>6748ds893432438dsd823329d923482d</span
							>
						</div>
					</div>
					<div class="ReposTable-Row">
						<div class="ReposTable-Col ReposTable-Col_branch Text Text_h3">
							users/a-aidyn00/my-feature-2
						</div>
						<div class="ReposTable-Col ReposTable-Col_align_right">
							<span class="Text Text-Link"
								>6748ds893432438dsd823329d923482d</span
							>
						</div>
					</div>
					<div class="ReposTable-Row">
						<div class="ReposTable-Col ReposTable-Col_branch Text Text_h3">
							users/a-aidyn00/my-feature-2
						</div>
						<div class="ReposTable-Col ReposTable-Col_align_right">
							<span class="Text Text-Link"
								>6748ds893432438dsd823329d923482d</span
							>
						</div>
					</div>
					<div class="ReposTable-Row">
						<div class="ReposTable-Col ReposTable-Col_branch Text Text_h3">
							users/a-aidyn00/my-feature-2
						</div>
						<div class="ReposTable-Col ReposTable-Col_align_right">
							<span class="Text Text-Link"
								>6748ds893432438dsd823329d923482d</span
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= _.template(require('./../includes/footer.html').default)() %>
