<%= _.template(require('./../includes/header.html').default)() %>

<div class="Container">
	<div class="SubHeader">
		<span class="SuHeader-Item">arcadia</span>
		<input class="Input" />
	</div>
	<div class="Title">
		<div class="Title-Main Text_h1">
			arcania
			<div class="Dropdown">
				<div
					class="Dropdown-Header Dropdown-Header_color_mute Text Text_h4 Text_color_mute"
				>
					<span>trunk</span>
				</div>
			</div>
		</div>
		<div class="Title-Sub Text_p">
			Last commit <span class="Text Text-Link">c4d248</span> on
			<span class="Text Text-Link">20 Oct 2017, 12:24</span> by
			<span class="Text Text_color_accent">r</span>obot-srch-releaser
		</div>
	</div>
	<div class="Tabs">
		<div class="Tabs-Menu">
			<div class="Tabs-Menu-Item Tabs-Menu-Item_active">Files</div>
			<div class="Tabs-Menu-Item">branches</div>
		</div>
		<div class="Tabs-Content">
			<div class="ReposTable">
				<div class="ReposTable-Header">
					<div class="ReposTable-Row">
						<div class="ReposTable-Col ReposTable-Col_name">Name</div>
						<div class="ReposTable-Col ReposTable-Col_lastCommit">
							Last commit
						</div>
						<div class="ReposTable-Col ReposTable-Col_message">
							Commit message
						</div>
						<div class="ReposTable-Col ReposTable-Col_commiter">Commiter</div>
						<div class="ReposTable-Col ReposTable-Col_upadted">Updated</div>
					</div>
				</div>
				<div class="ReposTable-Body">
					<div class="ReposTable-Row">
						<div
							class="ReposTable-Col ReposTable-Col_name ReposTable-Col_folder Text Text_h3"
						>
							api
						</div>
						<div
							class="ReposTable-Col ReposTable-Col_lastCommit Text Text-Link"
						>
							d53dsv
						</div>
						<div class="ReposTable-Col ReposTable-Col_message">
							[vcs] move http to arc
						</div>
						<div class="ReposTable-Col ReposTable-Col_commiter">
							<p class="Text Text_firstLetter_accent">noxoomo</p>
						</div>
						<div class="ReposTable-Col ReposTable-Col_updated">4 s ago</div>
					</div>
					<div class="ReposTable-Row">
						<div
							class="ReposTable-Col ReposTable-Col_name ReposTable-Col_folder Text Text_h3"
						>
							api
						</div>
						<div
							class="ReposTable-Col ReposTable-Col_lastCommit Text Text-Link"
						>
							d53dsv
						</div>
						<div class="ReposTable-Col ReposTable-Col_message">
							[vcs] move http to arc
						</div>
						<div class="ReposTable-Col ReposTable-Col_commiter">
							<p class="Text Text_firstLetter_accent">noxoomo</p>
						</div>
						<div class="ReposTable-Col ReposTable-Col_updated">4 s ago</div>
					</div>
					<div class="ReposTable-Row">
						<div
							class="ReposTable-Col ReposTable-Col_name ReposTable-Col_folder Text Text_h3"
						>
							api
						</div>
						<div
							class="ReposTable-Col ReposTable-Col_lastCommit Text Text-Link"
						>
							d53dsv
						</div>
						<div class="ReposTable-Col ReposTable-Col_message">
							[vcs] move http to arc
						</div>
						<div class="ReposTable-Col ReposTable-Col_commiter">
							<p class="Text Text_firstLetter_accent">noxoomo</p>
						</div>
						<div class="ReposTable-Col ReposTable-Col_updated">4 s ago</div>
					</div>
					<div class="ReposTable-Row">
						<div
							class="ReposTable-Col ReposTable-Col_name ReposTable-Col_file Text Text_h3"
						>
							api
						</div>
						<div
							class="ReposTable-Col ReposTable-Col_lastCommit Text Text-Link"
						>
							d53dsv
						</div>
						<div class="ReposTable-Col ReposTable-Col_message">
							[vcs] move http to arc
						</div>
						<div class="ReposTable-Col ReposTable-Col_commiter">
							<p class="Text Text_firstLetter_accent">noxoomo</p>
						</div>
						<div class="ReposTable-Col ReposTable-Col_updated">4 s ago</div>
					</div>

					<div class="ReposTable-Row">
						<div
							class="ReposTable-Col ReposTable-Col_name ReposTable-Col_file Text Text_h3"
						>
							api
						</div>
						<div
							class="ReposTable-Col ReposTable-Col_lastCommit Text Text-Link"
						>
							d53dsv
						</div>
						<div class="ReposTable-Col ReposTable-Col_message">
							[vcs] move http to arc
						</div>
						<div class="ReposTable-Col ReposTable-Col_commiter">
							<p class="Text Text_firstLetter_accent">noxoomo</p>
						</div>
						<div class="ReposTable-Col ReposTable-Col_updated">4 s ago</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= _.template(require('./../includes/footer.html').default)() %>
